
/*=================
    Global Styles
    ==============*/
* {
    box-sizing: border-box;
    font-family: 'Noto Sans', Optima, Candara, source-sans-pro, sans-serif;
    }

a {
    color: inherit;
    text-decoration: none;

}
body{
    margin:0;
}


:root {
    --primary-color: #263c42;
    --secondary-color: #bdd3b6;
    --background-gray: #e4e4e4;
    --links-hover: #3c702d; 
    --hover-secondary-color: #6fc056;
    --blue-links:#d2e3ec;
    --hover-blue-links: #b6d4e4;
}

.container,
.gray-container{
    padding: 2% 5%;
    /*creates blocks*/
}
.gray-container{
    background-color: var(--background-gray);
}

/* title areas  */
.title {
    margin: 0px;
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--primary-color);
    font-size: 300%;
    padding: 1rem;
    /*mostly to center titles */
}
    .subtitle {
    background-color:#ffffff;
    text-align: center;
    color: var(--primary-color);
    font-size: 250%;
    padding: .3rem;
    }
    .title-notes {
        font-size: small;
        color: var(--primary-color);
        font-style: italic;
        margin-top: 0px;
        background-color: var(--secondary-color);
        text-align: center;
        font-size: smaller;
        padding-bottom: 20px;
    }
    /* =========
    news
    ========= */
    .update-news {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
        
    }
        .update-news a{
            text-decoration: none;
            color: inherit;
        }

        .news-card{
            flex:auto; 
            justify-content: center; 
            font-size: small;
            color: var(--primary-color);
            background:repeat url(./images/subtle_white_mini_waves.png);
            text-align: center;
            font-size: smaller;
            padding: 20px;
            border-radius: 30px;
            width: fit-content;
            
        }
        .news-card > a {
            font-style: italic;
        }
        .news-card > #todays-offerings > #offerings > ul{
            list-style-position: inside;
            padding-left: 0px;
        }
        .news-card > #todays-offerings > #offerings > ul > li{
            list-style-type: none;
        }
        #offerings ol{
            list-style-position: outside;
            padding-left: 0px;
            margin-left: 1em;
        }
        #offerings ol > li > ul {
            list-style-position: outside;
            padding-left: 2em;
            list-style-type: disc;
        }
        .news-card a :hover{
            color: #3c702d;
            }
        .first-line,
        .middle-line{
            margin-top: 0px;
        }
        .middle-line
        .last-line{
            margin-bottom: 0px;
        }

/*for section titles*/
.section {
    color: var(--primary-color);
    font-size: 175%;
    margin-top: 0px;
}
/* header  */
header {
    background-color: var(--primary-color);
    padding: 1rem;
    
    
}
/* links in header  */
.flex-header a{
    color: inherit;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    /*makes links not stupid purple ugly underline*/
}
#reorder-nav{
    display: none;
}
header :nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;

    /*
    flex container for button sections
    flex-direction default row*/ 
}
header :nth-child(3){
    display: flex;
    justify-content: center;
    
}

@media only screen and (max-width: 600px){
    header{
        display: flex;
    }
    header > :nth-child(2){
        flex-direction: column;
        display: none;

    }
    #reorder-nav{
        display: flex;
    }
    
    header :nth-child(3){
        justify-content: start;
    }
}
    
    



.flex-header li {
    text-transform: capitalize;
    font-weight: 700;
    list-style: none;
    color: var(--secondary-color);
    padding: 6px;
    background-color: var(--primary-color);
}

.flex-header li:hover{
    background-color: var(--secondary-color);
    border-width:.5px;
    border-color: var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    
}

.flex-button-container {
    display: flex;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
    
    /*
    flex container for button sections
    flex-direction default row*/
}

/* offerings and memberships buttons  */
.flex-button-container div {
    text-align: center;
    background-color: white;
    color: var(--primary-color);
    box-shadow: inset 0 0 0 .15rem var(--primary-color);
    padding: .35rem;
    border-radius: 1rem;
    font-weight: 700;
    flex:auto;

}

.flex-button-container div:hover{
    color: rgb(255, 255, 255);
    background-color: var(--primary-color);
}
.flex-button-container a {
    display:inline-block; 
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}
.flex-button-container a:hover{
    color:white;
}



.image-block {
    display: flex;
    height: auto;
    width: 100%;
    padding: 3% 0%;
}

.image-block img {
    width: 100%;


}
/* footer */
.footer {
    display: flex;
    color: white;
    background-color: var(--primary-color);
    margin:0;
    line-height: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    #foot-line-one{
        margin-bottom: 0;
    }
    #foot-line-two{
        margin-top: 0;
    }

.flex-container{
    display: flex;
    flex-wrap: wrap;

}
.flex-container div,
.flex-button-container div {
    flex: 1 1 400px;
    width: 100%;
    margin: 0 .5rem;
}

/* Memberships table  */
.table-container{
    overflow-x: auto;
}
.table-column-header{
    background-color: var(--background-gray);
    color: var(--primary-color);
    font-size: 115%;
    font-weight: bold;
   
}
.table-row-header{
    font-size: 85%;
    font-weight: bold;
    position: sticky;
    left: 0;
    background-color: aliceblue;
    border: .25rem rgb(190,190,190);
}
#memberships-table {
    border-collapse: collapse;
    
}
#memberships-table tr,td,th{
    border: 1px solid rgb(202, 202, 202);
    height: 3rem;
}

#memberships-table td{
    z-index: -1;
    
}

#memberships-table tr{
    text-align: center;
}
#table-spacer{
    text-align: center;
    min-width: 9rem;
}

#memberships-table p,
#memberships-table .pricing{
    font-style: italic;
    
}
#memberships-table p{
    font-size: 85%;
    margin-top: 0px;
}


/*current offerings lists*/
.sessions {
    font-size: 110%;
}

.list-title {
    font-size: 115%;
    font-weight: bold;
    line-height: 2rem;
}

.mainList{
    list-style-type: circle;
    list-style-position: outside;
}
    .mainList li{
        margin: .75rem;
    }

/*address spacing*/
#address > p {
    margin-top: 3px;
    margin-bottom: 0px;
}

/* opening/closing checklist */
.checklist-container {
    display: flex;
    flex-wrap: wrap;

}
.gray-checklist,
.white-checklist{
    flex:1 1 400px;
    margin: .5rem;
    overflow: auto;
}

.gray-checklist{
    background-color: var(--background-gray);
}

.white-checklist{
    background-color: #ffffff;
}

.flex-card{
    flex:1 1 300px;
    margin: .5rem;
}

/* show more checkbox */
/* .more {
    display: none;
} */
/* .show-more:checked + .more {
    display: block;
} */
.show-more > button{
    border: none;
    border-radius: .25rem;
    background-color: var(--secondary-color);
}
.show-more > button:hover{
    background-color: var(--hover-secondary-color);
    
}
.show-more-hide-conditionally-visible{ display: none; }
.news-card > .show-more > button{
    border: none;
    background-color: var(--blue-links);
    border-radius: .25rem;
}
.news-card > .show-more > button:hover{
    background-color: var(--hover-blue-links);
}


/* =====
in-page links
===== */
/* use on span to make in-page jumps within text*/
.text-links{
    color:var(--primary-color);
}
    .text-links a{
        color: inherit;
        font-weight: bold;
        text-decoration: none;
    }
    .text-links a:hover{
        text-decoration: underline;
        color: var(--links-hover)
    }


iframe#calendar{
    filter: hue-rotate(225deg) grayscale(40%);
    
}

/* return to top button */
#button-to-top{
    position:fixed;
    left:.5rem;
    top: 5rem;
    

}
#button-to-top:hover{
    filter:opacity(120%);
    
}
/*  MD FRAME ONLY */
.md-converted-frame{
    border-radius: 1rem;
    border: none;
    background-color: white;
    color: black;
    text-align: start;
    padding: 1.5rem;
    
}

.md-converted-frame a {
    color: #3c702d;
}
.md-converted-frame blockquote{
    margin-left: 0px;
    padding-top: .5rem;
    padding-bottom:.5rem;
    border-radius: 1rem;
    background-color: rgb(247, 245, 242);
}

