* {
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif
    }
.container {
    margin: 5%;
    /*creates blocks*/
}

.title {
    text-align: center;
    color: #263c42;
    font-size: 300%;
    /*mostly to center titles */
}

.section {
    color: #263c42;
    font-size: 175%;
    /*for section titles*/
}
header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position:static;
    padding: 50px;
    padding-top: 75px;
    top: 0;
    
}

.flex-header a{
    display:inline-block; 
    color: inherit;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    /*makes links not stupid purple ugly underline*/
}
.flex-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

    /*
    flex container for button sections
    flex-direction default row*/ 
}

.flex-header li {
    text-transform: capitalize;
    font-weight: 700;
    list-style: none;
    color: #263c42;
    padding: 6px;
    background-color: rgb(255, 255, 255);
}

.flex-header li:hover {
    background-color: #263c42;
    border-width:.5px;
    border-color: #263c42;
    border-radius: 5px;
    color:white
    
}

.flex-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    
    /*
    flex container for button sections
    flex-direction default row*/
}

/* this selector selects all divs inside of .flex-button-container */
.flex-button-container div {
    text-align: center;
    background-color: white;
    color:#263c42;
    border: 10px;
    border-color: #263c42;
    text-transform: capitalize;
    box-shadow: inset 0 0 0 2px #263c42;
    padding: 6px;
    border-radius: 300px;
    font-weight: 700;
    flex: 1 1 200px;

}

.flex-button-container div:hover {
    color: rgb(255, 255, 255);
    background-color: #263c42;
}
.flex-button-container a {
    display:inline-block; 
    color: inherit;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none
}
.flex-button-container a:hover{
    color:white;
}



.image-block {
    display: flex;
    height: auto;
    width: 100%;
}

.image-block img {
    width: 100%;


}

#footer {
    display: flex;
    color: white;
    background-color: #263c42 ;
    margin:0;
    line-height: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}