
/*=================
    Global Styles
    ==============*/
* {
    box-sizing: border-box;
    font-family: Georgia, Times, 'Times New Roman', serif;
    }

a {
    color: inherit;
    text-decoration: none;

}

.container,
.gray-container{
    padding: 2% 5%;
    /*creates blocks*/
}
.gray-container{
    background-color: #e4e4e4;
}

/* title areas  */
.title {
    margin-top: 0px;
    background-color: #bdd3b6;
    text-align: center;
    color: #263c42;
    font-size: 300%;
    padding: 20px;
    /*mostly to center titles */
}
    .subtitle {
    margin-top: 0px;
    background-color:#ffffff;
    text-align: center;
    color: #263c42;
    font-size: 250%;
    padding: 20px;
    }
    .title-notes {
        font-size: small;
        color: #263c42;
        font-style: italic;
        margin-top: 0px;
        background-color: #bdd3b6;
        text-align: center;
        font-size: smaller;
        padding-bottom: 20px;
    }
    /* =========
    news
    ========= */
    .update-news {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        
    }
        .update-news a{
            text-decoration: none;
            color: inherit;
        }

        .news-card,
        .news-card-unlinked {
            justify-content: center;
            font-size: small;
            color:#263c42;
            font-style: italic;
            background-color: #bdd3b6;
            text-align: center;
            font-size: smaller;
            padding: 20px;
        }
        .news-card:hover{
                border-style: solid;
                border-color: #86a37e;
                font-weight: bold;
            }
        .first-line{
            margin-top: 0px;
        }
        .middle-line{
            margin-top: 0px;
            margin-bottom: 0px;
        }
            
        .last-line{
            margin-bottom: 0px;
       }

/*for section titles*/
.section {
    color: #263c42;
    font-size: 175%;
    margin-top: 0px;
}
/* header  */
header {
    width: 100%;
    background-color: #263c42;
    position:static;
    padding: 40px;
    
    
}
/* links in header  */
.flex-header a{
    display:inline-block; 
    color: inherit;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    /*makes links not stupid purple ugly underline*/
}
.flex-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

    /*
    flex container for button sections
    flex-direction default row*/ 
}

.flex-header li {
    text-transform: capitalize;
    font-weight: 700;
    list-style: none;
    color: #ffffff;
    padding: 6px;
    background-color: #263c42;
}

.flex-header li:hover{
    background-color: #ffffff;
    border-width:.5px;
    border-color: #263c42;
    border-radius: 5px;
    color: #263c42
    
}

.flex-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    
    /*
    flex container for button sections
    flex-direction default row*/
}

/* this selector selects all divs inside of .flex-button-container */
.flex-button-container div {
    text-align: center;
    background-color: white;
    color:#263c42;
    border: 10px;
    border-color: #263c42;
    text-transform: capitalize;
    box-shadow: inset 0 0 0 2px #263c42;
    padding: 6px;
    border-radius: 300px;
    font-weight: 700;
    flex: 1 1 200px;

}

.flex-button-container div:hover{
    color: rgb(255, 255, 255);
    background-color: #263c42;
}
.flex-button-container a {
    display:inline-block; 
    color: inherit;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    flex-grow: 1;
}
.flex-button-container a:hover{
    color:white;
}



.image-block {
    display: flex;
    height: auto;
    width: 100%;
    padding: 3% 0%;
}

.image-block img {
    width: 100%;


}
/* footer */
.footer {
    display: flex;
    color: white;
    background-color: #263c42 ;
    margin:0;
    line-height: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    #foot-line-one{
        margin-bottom: 0;
    }
    #foot-line-two{
        margin-top: 0;
    }

.flex-container{
    display: flex;
    flex-wrap: wrap;

}
.flex-container div,
.flex-button-container div {
    flex: 1 1 400px;
    width: 100%;
    margin: 0 .5rem;
}

/* Memberships table  */
.table-container{
    overflow-x: scroll;
}
.table-column-header{
    padding-top: 10px;
    background-color: #e4e4e4;
    color: #263c42;
    font-size: 115%;
    font-weight: bold;
   
}
.table-row-header{
    font-size: 85%;
    font-weight: bold;
    position: sticky;
    left: 0;
    background-color: aliceblue;
    border: 2px rgb(190,190,190);
}
#memberships-table {
    border-collapse: collapse;
    
}
#memberships-table tr,td,th{
    border: 1px solid rgb(202, 202, 202);
    width: 8rem;
    height: 3rem;
}

#memberships-table td{
    z-index: -1;
    vertical-align: middle;
}
#memberships-table tr {
    text-align: center;
    
}

#memberships-table p,
#memberships-table .pricing{
    font-style: italic;
    
}
#memberships-table p{
    font-size: 85%;
    margin-top: 0px;
}


/*current offerings lists*/
.sessions {
    font-size: 110%;
}

.list-title {
    font-size: 115%;
    font-weight: bold;
    line-height: 2rem;
}

.mainList{
    list-style-type: circle;
    list-style-position: outside;
}
    .mainList li{
        margin: .75rem;
    }

/*address spacing*/
#address > p {
    margin-top: 3px;
    margin-bottom: 0px;
}

/* opening/closing checklist */
.checklist-container {
    display: flex;
    flex-wrap: wrap;

}
.gray-checklist,
.white-checklist{
    flex:1 1 400px;
    margin: .5rem;
}

.gray-checklist{
    background-color: #e4e4e4;
}

.white-checklist{
    background-color: #ffffff;
}

.flex-card{
    flex:1 1 300px;
    margin: .5rem;
}

/* show more checkbox */
.more {
    display: none;
}
.show-more:checked + .more {
    display: block;
}

/* =====
in-page links
===== */
/* use on span to make in-page jumps within text*/
.text-links{
    color:#263c42
}
    .text-links a{
        color: inherit;
        font-weight: bold;
        text-decoration: none;
    }
    .text-links a:hover{
        text-decoration: underline;
        color:#3c702d
    }


iframe#calendar{
    filter: hue-rotate(225deg) grayscale(40%);
    
}

