@import url('//fonts.googleapis.com/css?family=Libre+Franklin');
*{ 
    box-sizing: border-box;
    font-family: 'Libre Franklin';
}
/* background stuff */
body{background-image: url("./upfeathers.png");
    background-repeat: repeat; 
    }
fieldset {
    background-color: rgb(255, 255, 255);
  }
  /* end background stuff */
:root{
    /* --font: 'fonty'; */
    --border-radius: .5rem;
    --submit-color: rgb(110, 221, 110);
    --submit-hover-color: rgb(23, 145, 23);
    --submit-message-color: rgb(67, 158, 194);
    --light-gray: rgb(243, 243, 243);
    --Yellow:rgb(219, 200, 28);
    --primary-color: #263c42;
    --secondary-color: #bdd3b6;
    --background-gray: #e4e4e4;
    --links-hover: #3c702d; 
    --hover-secondary-color: #6fc056;
    --blue-links:#d2e3ec;
    --hover-blue-links: #b6d4e4;

}
.form-wrapper{
    display: grid;
    grid-template-columns: auto 80vw auto;
    text-align: center;
    
}

form{
    font-size: 1rem;
    grid-column-start: 2;
    line-height: 1.75rem;
    
}
fieldset{
    text-align: left;
    border-radius: var(--border-radius);
    border: none;    
    display: grid;
    box-shadow: 0 4px 120px rgba(0, 0, 0, 0.08);
    padding: 24px;
}
fieldset > label{
    font-size: 1.05rem;
}
textarea,
input{
    border: none;
    /* border-top: none;
    border-right: none;
    border-left: none; */
    line-height: 1.25rem;
    background-color: var(--light-gray);
    border-radius: var(--border-radius);
}
input[type="radio"],
input[type="checkbox"]{
    margin-left: 2rem;
}
.submit-wrapper{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 1rem);
    text-align: center;
}
#submit-button{
    margin-top: .5rem;
    border: none;
    grid-column: span 3;
    grid-row: span 3;
    /* height: 2rem;; */
    border-radius: var(--border-radius);
    background-color: var(--submit-color);
}
#submit-button:hover{
    background-color: var(--submit-hover-color);
}
.submit-message{
    color: var(--submit-message-color);
    
}
input:invalid{
    border-style: solid;
    border-width: 1px;
    border-color: var(--Yellow);
}    


.priority-member-radio-options,
.normal-member-radio-options{
    display: flex;
    overflow-x: scroll;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.priority-member-radio-options{
    /* background-color: red; */
}
.normal-member-radio-options{
    /* background-color: blue; */
}

.section{
    font-size: 1.5rem;
    color: var(--primary-color);
    /* border-bottom: 2px solid var(--primary-color) */
    text-align: center;
}
#priority-members > label,
#normal-members > label{
    font-size: 1.25rem;
    color: var(--primary-color);
}

